{% extends "base.html" %}
{% load static %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}User: {{ object.first_name}} {{object.last_name}}{% endblock %}

{% block content %}
<div class="container">

  <h1 class="display-3">Hello {{ request.user.first_name }} {{ request.user.last_name }}</h1>
  <h2 class="display-3"> Your Account Information</h1>
   
  <form class="ApplicantUserForm" method="post" action="{% url 'users:user_detail' request.user.id %}">
    {% csrf_token %}
    {% crispy form %}
  </form>

</div>
{% endblock content %}
